body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: blue;
    color: lightblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2rem;
}

h4{
    text-align: center;
}

.clock{
    font-family: "Micro 5 Charted", sans-serif;
    border: 2px solid cyan;
    padding: 20px;
    border-radius: 10px;
    background-color: black;
}