h3{
    text-align: center;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    margin: 0;
}
.calender{
    background-color: orange;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px black;
    text-align: center;
}
.day{
    font-size: 2rem;
    font-weight: bold;
    color: blue;
}
.date{
    font-size: 4rem;
    font-weight: bold;
    color: cyan;
}
.month-year{
    font-size: 1.5rem;
    color: lightblue;
}